<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Transactions</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Direction</th>
            <th>Amount</th>
            <th>Transaction Type</th>
            <th>User</th>
            <th>Account</th>
            <th>Active</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.sens}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.transactionType.name}"></td>
            <td th:text="${transaction.user.username}"></td>
            <td th:text="${transaction.account.accountId}"></td>
            <td th:text="${transaction.active} ? 'Yes' : 'No'"></td>
            <td th:text="${#dates.format(transaction.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(transaction.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
